.checkbox {
  display: flex;
  align-items: center;
  font-weight: 600;
}

input[type="checkbox"] {
  position: relative;
  inset: -0.5px auto auto 0px;
  width: 20px;
  height: 20px;
  accent-color: red;
  margin-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: start;
  align-items: center;
}

button,
input[type="submit"],
input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  color: rgb(7, 131, 104);
}

button:hover {
  background-color: #e4e4e4;
}

button.secondary {
  color: #fff;
  background-color: rgb(7, 131, 104);
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin-right: 10px;
}

section {
  margin: 20px 0;
}

h2 {
  margin-bottom: 10px;
}
